extends /layout/default

block navigation
    +navigationBar({

    })

block content
    .container.user(style="margin-bottom: 50px")
        .row
            .page-header
                h2 User Administration - Team "WUB"
            div
                a(href='/admin/csv/1/365') Download Evaluation as CSV
            .alert.alert-success(style="display: none", role="alert", data-bind="visible: shouldShowMessage")
                strong.
                    Saved successfully
                | The e-mail address has been added to the mailing list.

            .alert.alert-danger(style="display: none", role="alert", data-bind="visible: shouldShowErrorMessage")
                strong.
                    Without success!
                | The e-mail address could not be saved.

            .well
                p.
                    Add new users. All added users are prompted to vote every day by e-mail. The vote is voluntary and anonymous.
        .row
            table.table
                thead
                    tr
                        th.
                            e-mail address
                        th
                tbody(data-bind="foreach: emails, visible: emails().length > 0")
                    tr
                        td(data-bind="text: email")
                        td
                            button(type="button", class="btn btn-danger", data-bind="click: $parent.remove")
                                span.glyphicon.glyphicon-trash
        .row
            form(action="/json/subscribers", method="post")
                label(for="email").
                    E-Mail:
                input#email(name="email", type="text", value="", data-bind="value: newEmailText")
                input#team(name="team", type="hidden", value="1", data-bind="value: team")
                button.btn.btn-primary(data-bind="click: save")
                    span.glyphicon.glyphicon-ok


block bottomScripts
    script(src="/static/js/subscribers.bundle.js")
